body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 3px gray;
  border-bottom: solid 3px rgb(115, 115, 114)
}
html {
  font-size: 20px;
}
h1 {
  font-size: 2rem;
}
.text-skyblue {
  color: skyblue;
}
.text-pink {
  color: rgb(255, 192, 203);
}
#basic > p {
  font-weight: bold;
}